@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff; /* Background color */
}

body {
  padding: 8px;
  background-color: var(--bg-color);
}

h1,
h2 {
  display: flex;
  justify-content: center;
}
